@import "./avatar.scss";
@import "./iconfont.scss";

body {
  background-color: $bgColod;

  h3 {
    color: darkslategray;
    font-size: 120px;
    //transform: rotate(90deg);
    display: flex;
    column-count: 3;
  }

  .aside {
    background: url("../img/logi.png") no-repeat;
  }

  .iconfont {
    font-size: 30px;
  }
}
